* {
    margin: 0px;
    padding: 0px;
    background-color: #E0FFFF;
}

.container {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'left center right';
    width: 100vw;
    height: 100vh;
}

.budget {
    grid-area: center;
    transform: translate(0.5px, 100px);
}

h1 {
    margin-top: 10px;
    transform: translate(100%);
    font-family: 'Nunito', sans-serif;
}

#CreateBudget {
    font-size: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: ridge;
}


#ExpItem {
    font-size: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: ridge;
}

#ExpAmount {
    font-size: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: ridge;
}

.create {
    color: #DCDCDC;
    background-color: #0000FF;
}


.addExpense {
    color: #DCDCDC;
    background-color: #0000FF;
}

#budgetArea {
    grid-area: right;
    transform: translate(100px);
}

ul {
    list-style: none;
}


@media screen and (max-width:975px) {

    
.container {
        display: grid;
        /* grid-template-columns: 1fr; */
        grid-template-columns: minmax(10ch, 20ch);
        grid-template-rows: 1rem 1fr 1fr;
        /* grid-template-columns: repeat(4, 25%);
        grid-template-rows: 3ch auto minmax(50%, 60px); */
        grid-template-areas: 
        ' h h'
        ' s s'
        ' b b';
        width: 100vw;
        height: 100vh;
        align-items:baseline;
       
}




#budgetarea {
    grid-area: b;
    position: relative;
   

}

h1 {
    grid-area: h;
    /* grid-column: 1/-10; */
    transform: translate(0px);
    /* grid-column: auto; */
  
 
}

.form {
    grid-area: s;
    grid-column: auto;
    
    /* align-items: center;
    justify-self: center; */
}

/* .budget {
    grid-area: s; 
    grid-column: 2/3;

    
} */
}